/* CSS */

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background: url("../images/BODY_BG.jpg") repeat-x 0px -142px;
	margin: 0px;
	padding: 0px;
}

html, body, p, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 1.6em;
    margin-bottom: 10px;
}

#main_wrapper {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
}

/* HEADER */

#header_wrapper {
	width: 980px;
	height: 306px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#headerImage {
    position:relative;
    height:359px;
}

#headerImage IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#headerImage IMG.active {
    z-index:10;
}

#headerImage IMG.last-active {
    z-index:9;
}

#header_content {
	width: 980px;
	height: 359px;
	position: relative;
	margin: -359px 0px 0px 0px;
	padding: 0px;
	z-index: 11;
}

#header_top {
	height: 156px;
}

#header_top_left {
	float: left;
	width: 727px;
	padding: 20px 20px 20px 25px;
}

#header_top_right {
	float: left;
	width: 208px;
}

#free_sports {
	background: url("../images/CALLOUT_BG.png") no-repeat top center;
	margin: 0px;
	padding: 15px 10px 25px 30px;
	width: 168px;
	height: 103px;
}

#free_sports h2 a {
	color: #fff;
	font-size: 40px;
	text-decoration: none;
}

#social_icons {
	background: url("../images/SOCIAL_BG.png") no-repeat top center;
	margin: 0px 0px 0px 60px;
	padding: 5px 0px 0px 5px;
	height: 58px;
	width: 115px;
}

#header_bottom {
	height: 100px;
}

#book {
	position: absolute;
	top: 200px;
	left: 20px;
}

/* CONTENT */

#content_wrapper {
	position: relative;
	width: 980px;
	margin: 0px;
	padding: 0px;
}

#content_left {
    float: left;
    width: 390px;
    padding: 0px 0px 0px 0px;
    margin: 20px 10px 20px 10px;
}

#text_wrapper {
	background: url("../images/TEXT_BG.jpg") repeat-x top center;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 350px;
	padding: 20px;
}

#text_wrapper_sub {
	background: url("../images/TEXT_BG.jpg") repeat-x top center;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 920px;
	padding: 20px;
	margin: 20px 10px 20px 10px;
}

#latest_news_wrapper {
	margin-bottom: 15px;
}

#latest_news_list {
	margin-bottom: 15px;
}

#latest_news_list h3 a {
	color: #bd272f;
	text-decoration: none;
}

#latest_news_list p a {
	color: #bd272f;
	text-decoration: none;
}

#latest_news {
	width: 350px;
}

#latest_news h2 a {
	color: #2b3e8a;
	text-decoration: none;
}

#latest_news h4 a {
	color: #bd272f;
	text-decoration: none;
}

#latest_news p a {
	color: #bd272f;
	text-decoration: none;
}

#latest_news_thumb {
	width: 90px;
	height: 90px;
	overflow: hidden;
	-moz-border-radius: 20px;
	border-radius: 20px;
	float: left;
	margin-right: 10px;
}

#content_right {
    float: left;
    width: 540px;
    padding: 0px 10px 0px 10px;
    margin: 20px 10px 20px 0px;
}

.services {
	width: 540px;
	height: 180px;	
}

.services h1 a {
	color: #fff;
	text-decoration: none;
	text-shadow: 3px 3px 3px #000;
}

.services p {
	color: #fff;
}

.services_left {
	width: 380px;
	float: left;
	margin-top: 15px;
}

.services_left_image {
	width: 160px;
	float: left;
}

.services_right {
	width: 380px;
	float: right;
	margin-top: 15px;
}

.services_right_image {
	width: 160px;
	float: left;
}

/* FOOTER */

#footer_wrapper {
	clear: both;
    width: 940px;
	padding: 10px 20px 5px;
	margin: 0px 0px 10px 0px;
    background-color: #ffffff;
    -moz-border-radius: 20px;
	border-radius: 20px;
}

/*CONTACT FORM STYLES*/

.form_desc {
	float: left;
	width: 80px;
	line-height: 15px;
	padding-bottom: 6px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.form_field {
	padding-bottom: 6px;
	clear: both;
}
.form_content {
	width: 170px;
	border: 1px solid #999;
}
.form_base {
	padding-left: 80px;
	padding-top: 10px;
	padding-bottom:3px;
	font-family: Verdana, Geneva, sans-serif; font-size: 10px; line-height: 1.2em
}

.form_base input {
	margin-top: 4px;
	padding-top: 0px;
}