#topnav .subnav {
    margin: 56px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    list-style: none;
    background: url("../images/NAV_BG.jpg") repeat top center;
    display: none;
    z-index: 12;
    -moz-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
}
#topnav .subnav li {
    float: none;
    line-height: normal;
}
#topnav .subnav li a {
    border: none;
    padding: 3px 10px 0px 10px;
    display: block;
}

#topnav li:hover a, #topnav li:focus a { color: #bd272f; }

#topnav li:hover .subnav, #topnav li:focus .subnav { position:absolute; display:block;}
#topnav li:hover .subnav a, #topnav li:focus .subnav a { color: #FFFFFF; }
#topnav .subnav li a:hover { color: #bd272f; }