#nav_wrapper {
    position: relative;
	width: 980px;
	font-family: 'Loved by the King', cursive;
	font-size: 28px;
	padding: 0px;
	margin: 0px;
	height: 56px;
}

#nav_wrapper ul#mainnav {
	height: 56px;
    width: 980px;
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}
ul#mainnav li {
    height: 53px;
	float: left; 
	padding: 0px;
	margin-top: 3px;
	margin-right: 2px;
	color: #ffffff;
	font-weight: normal;
}

ul#mainnav a {
	color: #ffffff;
	float: left;
	padding: 18px 12px 5px 12px;
	text-decoration: none;
	font-weight: normal;
}

ul#mainnav li:hover {
	color: #fff;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	background: url("../images/NAV_BG.jpg") repeat-x top center;
}
ul#mainnav li:hover a {
	color: #fff;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	background: url("../images/NAV_BG.jpg") repeat-x top center;
}

ul#mainnav li.current {
	color: #fff;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	background: url("../images/NAV_BG.jpg") repeat-x top center;
}

ul#mainnav li.current a {
	color: #fff;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	background: url("../images/NAV_BG.jpg") repeat-x top center;
}
